@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 142 76% 36%
    --success-foreground: 142 76% 36%

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
    
    --bg-background-1: 0 0% 0%;
    --bg-background-2: 240 10% 4%;
    --bg-background-3: 240 8% 8%;


  }
  

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 275.68 75.51% 48.04%;
    --accent-foreground: 275.68 75.51% 48.04%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --success: 142 76% 36%
    --success-foreground:1142 76% 36%

    --ring: 240 3.7% 15.9%;

    --bg-background-1: 0 0% 0%;
    --bg-background-2: 240 10% 4%;
    --bg-background-3: 240 8% 8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-snap-type: y mandatory;
  }
  body {
    @apply bg-black text-foreground;
  }
  body, main {
    > * {
      scroll-snap-align: start;
    }
  }
}  


@layer utilities {
  .center {
    text-align: center;
    justify-content: center;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .page-builder-layout {
    grid-template-columns: 280px 1fr;
  }

  .h-toolbar {
    height: 56px;
  }
  .h-app {
    height: calc(100vh - 56px);
  }

  .builder-grid {
    display: grid; 
    grid-template-columns: 300px 1fr 300px; 
  }
 
  .editor-panel-editor div {
      height: inherit;
  }


  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }


  .Section {
    min-height: 100vh;
    
    /* sm */
    .Section-container {
      margin-left: auto;
      margin-right: auto;
      width:100%;
      max-width: 1440px;
    }
  
    .Section-content-wrapper {
      position: relative;
      padding-bottom: 8rem;
    }

    .Section-content-main {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      align-items: start;
    }

    &:nth-child(odd) {
      background: hsl(var(--bg-background-1));
      .Section-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      .Section-content-main {
        padding-top: 3rem;
      }
    }

    &:nth-child(even) {
      background-color: hsl(var(--bg-background-2));
      .Section-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      .Section-content-main {
        padding-top: 2rem;
      } 
    }

    /* md */
    @media (min-width: 768px) {
      .Section-content-main {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &:nth-child(odd) {
        
        .Section-content-main {
          padding-top: 4rem;
        } 
      }

      &:nth-child(even) {
        .Section-container {
          margin-top: 4rem;
          margin-bottom: 4rem;
        }
        .Section-content-wrapper {
          padding-top: 8rem;
          padding-bottom: 8rem;
        }
        .Section-content-main {
          padding-top: 0rem;
        }
      }
    }

    /* lg */     
    @media (min-width: 1024px) {
      .Section-content-main {
        padding-left: 5rem;
        padding-right: 5rem;
      }

      &:nth-child(odd) {
      .Section-content-main {
          padding-top: 6rem;
        }
      }

      &:nth-child(even) {
        .Section-content-wrapper {
          padding-top: 10rem;
          padding-bottom: 10rem;
        }
        .Section-content-main {
          padding-top: 2rem;
        }
      }
    }


    /* xl */
    @media (min-width: 1280px) {
      &:nth-child(odd) {
        .Section-content-main {
          padding-top: 8rem;
        }
      }

      &:nth-child(even) {
        .Section-content-wrapper {
          padding-top: 12rem;
          padding-bottom: 12rem;
        }
        .Section-content-main {
          padding-top: 0rem;
        }
      }
    }


    /* 2xl */
    @media (min-width: 1440px) {
      &:nth-child(odd) {
        .Section-content-main {
          padding-top: 8rem;
        }
      }

      &:nth-child(even) {
        .Section-content-wrapper {
          padding-top: 13rem;
          padding-bottom: 13rem;
        }
        .Section-content-main {
          padding-top: 4rem;
        }
      }
    }

    /* 3xl */
    @media (min-width: 2560px) {
      &:nth-child(odd) {
        .Section-content-main {
          padding-top: 10rem;
        }
      }

      &:nth-child(even) {
        .Section-content-wrapper {
          padding-top: 20rem;
          padding-bottom: 20rem;
        }
        .Section-content-main {
          padding-top: 5rem;
        }
      }
    }
  }

  

 

  .bg-background-1 {
    background-color: hsl(var(--bg-background-1));
  }

  .bg-background-2 {
    background-color: hsl(var(--bg-background-2));
  }

  .bg-background-3 {
    background-color: hsl(var(--bg-background-3));
  }





  .rtl {
    direction: rtl;
  }
  .md\:rtl {
    @media (min-width: 768px) {
      direction: rtl;
    }
  }
  .ltr {
    @media (min-width: 768px) {
      direction: ltr;
    }
  }
  .md\:ltr {
    @media (min-width: 768px) {
      direction: ltr;
    }
  }

  .initial {
    position: initial;
  }
  .sm\:initial {
    @media (min-width: 640px) {
      position: initial;
    }
  }
  .md\:initial {
    @media (min-width: 768px) {
      position: initial;
    }
  }
  .lg\:initial {
    @media (min-width: 1024px) {
      position: initial;
    }
  }
  .xl\:initial {
    @media (min-width: 1280px) {
      position: initial;
    }
  }


  .bg-nav-button-active, .bg-nav-button-hover:hover {
    background: rgb(140,30,215);
    background: linear-gradient(56deg, rgba(140,30,215,1) 0%, rgba(93,0,157,1) 100%, rgba(94,0,158,1) 100%);
  }

  .app-bg-gradient {
    background: hsla(293, 75%, 13%, 1);
    background: linear-gradient(180deg, hsla(293, 75%, 13%, 1) 0%, hsla(261, 53%, 30%, 1) 100%); 
  }

 
  .app-border-gradient {
    border-color: hsla(293, 75%, 13%, 1);
    border-color: linear-gradient(180deg, hsla(293, 75%, 13%, 1) 0%, hsla(261, 53%, 30%, 1) 100%); 
  }
}